<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <form method="POST" action="/add" th:object="${chatter}">
        <input type="text" placeholder="Login" id="login" th:field="${chatter.login}">
        <br>
        <input type="password" placeholder="Password" id="password" th:field="${chatter.passwordHash}">
        <p th:text="${error}"></p>
        <button type="submit">Register</button>
    </form>
<a href="/login">Log in</a>
</body>
</html>